/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

/* GLOBAL STYLES */
body {
	background:url('bg.jpg'); /* http://template.simkors.itembridge.com/images/background/slide-1.jpg */
	background-size: cover;
	background-position: 50% 20%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
	body {background-size: auto;}
}

a, ah:hover {color: #f00;}


/* MAINT CONTENT */
.main-title, .coming-soon{margin-top:20%;float:left;}

.main-title {
	color:white;
	padding: 0 3rem;
}

.main-title > h1 {
	text-shadow: 1px 1px #f00; /* leRougeQuiTache */
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 2.5rem;
}

.main-title > p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.coming-soon > h2 {
	text-shadow: 2px 2px #f00;
	color: white;
	text-align: center;
	font-size: 6rem;
}

@media screen and (max-width: 450px) {
	.coming-soon > h2 {font-size: 48px;}
	.main-title > h1 {font-size: 24px;}
}

#bash > .ti-cursor {color:red!important;}
#bash > .ti-container {font-family: 'Space Mono', monospace!important;opacity:1;}
.btn {cursor:pointer;}

/* ---- Particules ----*/
#particles-js {
		position: absolute;
		z-index: 1;
	  width: 100%;
		height: 50%
}

canvas {
	  display:block;
	  vertical-align:bottom;
}

/* ---- Begin Overlay ---- */
#overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay-content > div {margin: 4rem auto} /* because of the col-md-6 here */

.overlay-content p {
    text-align: center;
    color: #818181;
    font-size: 20px !important;
    font-family: 'Roboto';
		margin: 1rem 0;
	}

#overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#overlay a:hover, #overlay a:focus {color: #f1f1f1;}

#overlay ul {
    width: 320px;
    margin: auto;
}

#overlay li {
    float: left;
    margin: 0 auto;
    width: 64px;
}

#overlay li > a {font-size: :32px;}

#overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  #overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* -- FOOTER -- */
footer {
	display: block;
	position: absolute;
	bottom: 0;
	color: #fff;
	text-align: center;
	width: 100%;
	padding-bottom: 4px;
	margin-bottom: 1px;
}

.mastfoot p {margin: 0.2rem;}
